1.Write a Python program which accepts the radius of a circle from the user and compute the area

In [1]:

import math
radius=int(input("Enter the radius of circle"))
print("Area of circle is :",math.pi*(radius**2))

Enter the radius of circle10
Area of circle is : 314.1592653589793

2.Write a Python Program to accept the details of a student like name, roll number and mark and display it.

In [2]:
name=input("Enter the name")
roll=input("Enter the roll number")
mark=input("Enter the mark")
print("Name:",name+"\n"+"Roll No:",roll+"\n"+"Mark:",mark)

Enter the nameRoshni
Enter the roll number7
Enter the mark80
Name: Roshni
Roll No: 7
Mark: 80

3.Write a Python program to get the largest number from a list.

In [3]:
num=[12,3,47,10]
largest=num[0]
for i in num:
  if (i>largest):
    largest=i
  else:
    continue
print(largest,"is the largest number")

47 is the largest number

4.Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number.

In [4]:
start=int(input("enter the starting number"))
end=int(input("enter the ending number"))
for n in range(start,end+1):
  print("current number",n)
  print("previous number",n-1)
  print("sum is",(n+(n-1)))

enter the starting number5
enter the ending number20
current number 5
previous number 4
sum is 9
current number 6
previous number 5
sum is 11
current number 7
previous number 6
sum is 13
current number 8
previous number 7
sum is 15
current number 9
previous number 8
sum is 17
current number 10
previous number 9
sum is 19
current number 11
previous number 10
sum is 21
current number 12
previous number 11
sum is 23
current number 13
previous number 12
sum is 25
current number 14
previous number 13
sum is 27
current number 15
previous number 14
sum is 29
current number 16
previous number 15
sum is 31
current number 17
previous number 16
sum is 33
current number 18
previous number 17
sum is 35
current number 19
previous number 18
sum is 37
current number 20
previous number 19
sum is 39

5.Write a Python program to print only those numbers which are divisible of 5.

In [5]:
num=[10,20,33,46,55]
div5=[]
for i in num:
  if (i%5==0):
    div5.append(i)
  else:
    continue
print(div5)

[10, 20, 55]

6.Write a Python program to check whether a number is prime or not

In [6]:
num=int(input("Enter a number"))
count=0
for i in range(2,num):
  if (num%i==0):
    count=count+1
  else:
    continue
if (count>0):
  print("number is not prime")
else:
  print("number is prime")

Enter a number8
number is not prime

7.Write a Python program to reverse a list using for loop.

In [7]:
num=[10,40,30,70]
out=[]
for i in range(len(num)-1,-1,-1):
  out.append(num[i])
out

[70, 30, 40, 10]

8.Write a Python program to print the following pattern.

In [9]:
for i in range(10):
  print("\n")
  for j in range(i):
    print("*",end="")

*

**

***

****

*****

******

*******

********

*********

9.Write a Python program to find the maximum of three numbers

In [11]:
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
num3=int(input("eneter the third number"))
if (num1>num2):
  if (num1>num3):
    print("maximum is :",num1)
  else:
    print("maximum is :",num3)
else:
  if (num2>num3):
    print("maximum is :",num2)
  else:
    print("maximum is :",num3)

enter the first number55
enter the second number23
eneter the third number11
maximum is : 55

10.Write a Python program to construct the following pattern, using a nested for loop

In [25]:
for i in range(10):
  print("\n")
  if i>5:
    i=10-i
  for j in range(i):
    print("*",end="")

*

**

***

****

*****

****

***

**

*

PYTHON PRACTICE PROBLEM 2

1.Write a Python program to accept a string value from the user and display the count of each character in that string

In [12]:
text=input("Enter the string")
characters=set(text)
for i in characters:
  count=0
  for j in text:
    if i==j:
      count=count+1
    else:
      continue
  print(i,"=",count)

Enter the stringhello
e = 1
o = 1
h = 1
l = 2


2. Write a Python function to find the maximum of three numbers Sample

In [13]:
def max(num1,num2,num3):
  if (num1>num2):
    if (num1>num3):
      print("maximum is :",num1)
    else:
      print("maximum is :",num3)
  else:
    if (num2>num3):
      print("maximum is :",num2)
    else:
      print("maximum is :",num3)

num1=int(input("enter 1st number"))
num2=int(input("enter 2nd number"))
num3=int(input("enetr 3rd number"))
max(num1,num2,num3)

enter 1st number78
enter 2nd number95
enetr 3rd number74
maximum is : 95

3.Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp.

In [14]:
def exponent(base,exp):
  return (base**(exp))
base=int(input("enter the base value"))
exp=int(input("enter the power value "))
exponent(base,exp)

enter the base value5
enter the power value 7

78125

4.Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number.

In [16]:
def cube(num):
  cube=0
  for i in range(1,num):
    cube=cube+(i**3)
  return cube
num=int(input("enter a positive integer"))
cube(num)

enter a positive integer8

784

5.Write a Python program which iterates from 1 to 10. For multiples of 2, print “Fizz” instead of the number and for the multiples of 5, print “Buzz”. For numbers which are multiples of both 2 and 5, print “FizzBuzz”

In [17]:
for i in range(1,11):
  if ((i%2==0) & (i%5==0)):
    print("FizzBuzz")
  elif (i%2==0):
    print("Fizz")
  elif (i%5==0):
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6.Write a Python program to find the most frequent item in a list of numbers

In [18]:

num=[2,3,4,2,5,2]
freq={}
for i in num:
  count=0
  for j in num:
    if i==j:
      count=count+1
    else:
      continue
  freq[str(i)]=count

In [20]:
del max

for x in num:
  if (freq[str(x)]==max(freq.values())):
    print("most frequent iteam is",x)
    break
  else:
    continue

most frequent iteam is 2

7.Write a Python program to find the sum of squares of the numbers in a list.

In [21]:
num=[2,1,3,1]
sum=0
for i in num:
  sum=sum+(i**2)
print(sum)

15

8.Write a Python program using for loop that will iterate from 1 to 15. For each iteration, check if the current number is odd or even, and display the message to the screen as odd or even

In [22]:

for i in range(1,10):
  if (i%2==0):
    print(i,"-even")
  else:
    print(i,"-odd")

1 -odd
2 -even
3 -odd
4 -even
5 -odd
6 -even
7 -odd
8 -even
9 -odd

9.Write a Python program to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.]

In [23]:
temp=int(input("enter the temperature in fahrenheit"))
print("Temperature in celsius",((temp-32)*5/9))

enter the temperature in fahrenheit110
Temperature in celsius 43.333333333333336

10.Write a Python function to calculate the factorial of a number (a nonnegative integer). The function accepts the number   as an argument

In [24]:
def fact(num):
  factorial=1
  for i in range(1,num+1):
    factorial=factorial*i
  return factorial
num=int(input("enter a number"))
fact(num)

enter a number7

5040